# don't forget to set all environment variables!

# get your Steam API key on http://steamcommunity.com/dev
ENV['STEAM_API_KEY'] = 'HALFLIFE3'

# you can get 0.5 GB free space on https://mongolab.com/
ENV['MONGOLAB_DB'] = '<dbname>'
ENV['MONGOLAB_URL'] = "mongodb://<dbuser>:<dbpassword>>@<server>.mongolab.com:43447/#{ENV['MONGOLAB_DB']}"
ENV['MONGOLAB_API_KEY'] = 'IwAnTrEaDoNlYaPiKeY' # API keys unfortunately have write access

# used in layout when maintenance is set to true in the settings collection
ENV['MAINTENANCE_CONTACT'] = '<a href="<URL to your Twitter or anything you want>">contact me</a>'