# don't forget to set all environment variables!

# get your Steam API key on http://steamcommunity.com/dev
ENV['STEAM_API_KEY'] = 'HALFLIFE3'

# you can get 0.5 GB free space on https://mongolab.com/
ENV['DATABASE_NAME'] = '<dbname>'
ENV['DATABASE_URL'] = "mongodb://<dbuser>:<dbpassword>>@<server>.mongolab.com:<port>/#{ENV['DATABASE_NAME']}"

ENV['GOOGLE_ANALYTICS_ACCOUNT'] = 'UA-123456789-0'