<!DOCTYPE html>
<html ng-app="hexagonStats">
  <head>
    <meta charset="utf-8">
    <title ng-bind-template="{{$root.title}} | Super Hexagon stats">Super Hexagon stats</title>
    <meta name="description" content="Leaderboard and other statistics for the Steam version of Terry Cavanagh's game Super Hexagon.">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>
    <script type="text/javascript" src="javascripts/angular-ui.min.js"></script>
    <script type="text/javascript" src="javascripts/angular-ui-bootstrap-tpls-0.1.0.min.js"></script>
    <script type="text/javascript" src="javascripts/dbResourceHttp.js"></script>
    <script type="text/javascript" src="javascripts/app.js"></script>
  </head>
  <body>
    <div id="wrap">
      <noscript>
        <h1>Super Hexagon stats</h1>
        <h2>Sorry, you need to enable Javascript to use this site.</h2>
        <hr>
      </noscript>

      <div ui-if="$root.isViewLoading">
        <div class="alert alert-info" ui-if="$root.isViewLoading">Loading...</div>
      </div>

      <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="brand" href="#/">Super Hexagon stats</a>

            <div class="nav-collapse collapse">
              <ul class="nav">
                <li activelink="#/" noactivelinkindex><a href="#/">Home</a></li>
                <li class="dropdown" activelink="#/leaderboard/">
                  <a class="dropdown-toggle">
                    Leaderboard
                    <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                    <li activelink="#/leaderboard/Hexagon" noactivelinkindex><a href="#/leaderboard/Hexagon">Hexagon</a></li>
                    <li activelink="#/leaderboard/Hexagoner"><a href="#/leaderboard/Hexagoner">Hexagoner</a></li>
                    <li activelink="#/leaderboard/Hexagonest"><a href="#/leaderboard/Hexagonest">Hexagonest</a></li>
                    <li activelink="#/leaderboard/Hyper_Hexagon" noactivelinkindex>
                      <a href="#/leaderboard/Hyper_Hexagon">Hyper Hexagon</a></li>
                    <li activelink="#/leaderboard/Hyper_Hexagoner">
                      <a href="#/leaderboard/Hyper_Hexagoner">Hyper Hexagoner</a></li>
                    <li activelink="#/leaderboard/Hyper_Hexagonest">
                      <a href="#/leaderboard/Hyper_Hexagonest">Hyper Hexagonest</a></li>
                  </ul>
                </li>
              </ul>
              <ul class="nav pull-right">
                <li class="dropdown" activelink="#/compare/">
                  <a class="dropdown-toggle">
                    Compare ({{ $root.comparison.length }})
                    <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                    <li>
                      <a href="#/compare">
                        <span ui-if="$root.comparison.length > 0">Compare users</span>
                        <span ui-if="!$root.comparison || $root.comparison.length == 0">No users to compare!</span>
                      </a>
                    </li>
                    <li ui-if="$root.comparison.length > 0"><a ng-click="$root.comparisonRemoveAll()">Remove all</a></li>
                    <li class="divider" ui-if="$root.comparison.length > 0"></li>
                    <li class="dropdown-submenu" ng-repeat="entry in $root.comparison">
                      <a class="dropdown-toggle">{{ entry.username }}</a>
                      <ul class="dropdown-menu">
                        <li><a ng-href="#/profiles/{{ entry.steamid }}">View profile</a></li>
                        <li><a ng-click="$root.comparisonRemove(entry.steamid)">Remove</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li class="divider-vertical"></li>
                <form class="navbar-form pull-right">
                  <select ng-model="$root.search.type" ng-options="type as val.label group by val.group for (type, val) in $root.search.options"></select>
                  <input type="text" placeholder="{{ $root.search.options[$root.search.type].placeholder || $root.search.options[$root.search.type].label }}" ng-model="$root.search.text">
                  <input type="submit" value="Search" class="btn" ng-click="$root.search.doSearch()">
                </form>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div ui-if="$root.settings.maintenance" class="alert alert-block">
          <h4>Website is in the maintenance mode.</h4>
          Don't be surprised if something is broken. It should take just a few seconds. If it takes too long, <a href="https://twitter.com/tomasduda">ping me on Twitter</a>.
        </div>
        <div ng-view ui-if="!$root.isViewLoading"></div>
      </div>

      <div id="push"></div>
    </div>

    <div id="footer">
      <div class="container">
        <div class="pull-left muted">
          Created by <a href="https://twitter.com/tomasduda">Tomáš Duda</a>. Source code is available on <a href="https://github.com/TomasDuda/super-hexagon-stats">GitHub</a>.
        </div>
        <div class="pull-right muted" ui-if="settings.lastUpdate">
          Latest database update: {{ settings.lastUpdate }}
        </div>
      </div>
    </div>

    <a href="https://github.com/TomasDuda/super-hexagon-stats">
      <img style="position: absolute; top: 40px; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub">
    </a>

    <script type="text/ng-template" id="comparison/default">
      <a title="Add to comparison" ng-click="addToComparison()"><i class="icon-plus"></i></a>
    </script>

    <% if ENV['GOOGLE_ANALYTICS_ACCOUNT'] %>
      <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '<%= ENV['GOOGLE_ANALYTICS_ACCOUNT'] %>']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      </script>
    <% end %>

  </body>
</html>
