<div class="page-header">
  <div class="pull-right" style="padding-top: 5px;">
    <a class="btn btn-large btn-danger" ng-click="$root.comparisonRemoveAll()">Remove all users from comparison</a>
  </div>
  <h1>Compare Users</h1>
</div>

<div ui-if="$root.comparison.length == 0" class="alert alert-info">
  No users found for comparison. Click on <i class="icon-plus"></i> next to the name to add it to the comparison list.
</div>

<div ui-if="$root.comparison.length > 0 && !leaderboardLoading && !users" class="alert">Error while loading leaderboard.</div>
<div ui-if="$root.comparison.length > 0 && !leaderboardLoading && users">
  <table class="table">
    <thead>
      <tr>
        <th>User</th>
        <th ng-repeat="difficulty in $root.difficulties">{{ difficulty }}</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="(steamid, user) in users">
        <td><a ng-href="#/profiles/{{ steamid }}"><img ng-src="{{ $root.getAvatar(user.avatar) }}" class="avatar">{{ user.username }}</a></td>
        <td ng-repeat="difficulty in $root.difficulties">{{ user.leaderboard[difficulty].time.toFixed(2) || '-' }}</td>
        <td><a ng-click="$root.comparisonRemove(steamid)"><i class="icon-remove" title="Remove user {{ user.username }} from comparison"></i></a></td>
      </tr>
    </tbody>
  </table>
</div>