<div class="hero-unit">
  <h1>Super Hexagon stats</h1>
  <p>
    Hi! This is still a beta, so anything can change or break.
    <a href="https://github.com/TomasDuda/super-hexagon-stats">Contribute on GitHub</a> - help and ideas are welcome!
    <br>Don't know what is Super Hexagon? <a href="http://store.steampowered.com/app/221640">Check it out on Steam</a> or
    buy it in <a href="http://www.humblebundle.com/">Humble Bundle with Android 5</a> with 5 more amazing games (pay what you want).
  </p>
</div>

<div class="page-header">
  <h2>Top 10 players</h2>
</div>

<div class="row" ng-repeat="difficultyRow in difficultyRows">
  <div class="span4" ng-repeat="difficulty in difficultyRow">
    <div>
      <div class="pull-right" style="padding-top: 5px;">
        <a class="btn" ng-href="#/leaderboard/{{ difficulty.replace(' ', '_') }}">Show all</a>
      </div>
      <h3>{{difficulty}}</h3>
    </div>
    <div ui-if="top10Loading[difficulty]" class="alert alert-info">Loading...</div>
    <div ui-if="!top10Loading[difficulty] && (!top10[difficulty] || top10[difficulty].length == 0)" class="alert">No leaderboard entries found.</div>
    <div ui-if="!top10Loading[difficulty] && top10[difficulty].length > 0">
      <table class="table table table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Time</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="entry in top10[difficulty]">
            <td>{{ $index + 1 }}</td>
            <td>
              <a ng-href="#/profiles/{{ entry.steamid }}">
                <img ng-src="{{ $root.getAvatar(top10Users[entry.steamid].avatar) }}" class="avatar">{{ top10Users[entry.steamid].username }}
              </a>
              <comparison ng-include="'comparison/default'" steamid="{{ entry.steamid }}" username="{{ top10Users[entry.steamid].username }}" avatar="{{ top10Users[entry.steamid].avatar }}"></comparison>
            </td>
            <td>{{ entry.time.toFixed(2) }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<div class="row" ui-if="latestCommits">
  <div class="page-header">
    <h1>Latest updates</h1>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Author</th>
        <th>Date</th>
        <th>Commit</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="commit in latestCommits">
        <td><a ng-href="{{ commit.author.html_url }}">{{ commit.author.login }}</a></td>
        <td>{{ commit.commit.author.date }}</td>
        <td><a ng-href="https://github.com/TomasDuda/super-hexagon-stats/commit/{{ commit.sha }}">{{ commit.commit.message }}</a></td>
      </tr>
    </tbody>
  </table>
</div>