<div class="page-header">
  <h1>
    <span ng-bind-template="Leaderboard - {{ leaderboardName }}">Leaderboard</span>
    <small ui-if="leaderboardCount">{{ leaderboardCount }} entries</small>
  </h1>
</div>

<div class="row-fluid">
  <ul class="nav nav-pills span10">
    <li ng-repeat="difficulty in $root.difficulties" ng-class="{active: leaderboardName == difficulty}">
      <a ng-href="#!/leaderboard/{{ difficulty.replace(' ', '_') }}">{{ difficulty }}</a>
    </li>
  </ul>
</div>

<div class="row" ui-if="pagination.numPages()">
  <div class="span8">
    <pagination boundary-links="true" previous-text="&laquo;" next-text="&raquo;" num-pages="pagination.numPages()" current-page="pagination.currentPage" max-size="10"></pagination>
  </div>
</div>

<div ui-if="leaderboardLoading" class="alert alert-info">Loading...</div>

<div ui-if="!leaderboardLoading && !leaderboard" class="alert">Error while loading leaderboard.</div>

<div ui-if="!leaderboardLoading && leaderboard" class="row">
  <div class="span8">
    <table class="table table-condensed table-hover">
      <thead>
        <tr>
          <th ng-click="changeSorting()" class="sortable"><i ng-class="sortClass()"></i>Rank</th>
          <th>User</th>
          <th ng-click="changeSorting()" class="sortable"><i ng-class="sortClass(true)"></i>Time</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="entry in leaderboard">
          <td>{{ entry.rank }}</td>
          <td>
            <a ng-href="#!/profiles/{{ entry.steamid }}"><img ng-src="{{ $root.getAvatar(entry.avatar) }}" class="avatar">{{ entry.username }}</a>
            <comparison ng-include="'comparison/default'" steamid="{{ entry.steamid }}" username="{{ entry.username }}" avatar="{{ entry.avatar }}"></comparison>
          </td>
          <td>{{ entry.time.toFixed(2) }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>