<div class="page-header">
  <h1>Stats</h1>
</div>

<div class="row">
  <div class="span6 offset3">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Current stats</th>
          <th>Before Humble Bundle</th>
          <th>Difference</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="name in statsNames">
          <td>{{ name }}</td>
          <td>{{ stats[name] || 'loading...' }}</td>
          <td>{{ statsBeforeHumbleBundle[name] }}</td>
          <td ui-if="stats[name]">{{ stats[name] - statsBeforeHumbleBundle[name] }}</td>
          <td ui-if="!stats[name]">loading...</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>